*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: Helvetica, arial, sans-serif;
 /* background-image: linear-gradient(#F9BB75, #FDC4A3);
  background-repeat: no-repeat; */
}

.tela-inicial{
  width: 90%;
  height: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 2;
  top: 35px;
  left: 5%;
  background-color: #F5FCA0;
  border: 2px solid #DC9426;
  border-radius: 10px;
}

.tela-final{
  width: 90%;
  height: 510px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 2;
  top: 35px;
  left: 5%;
  background-color: #EDEDD6;
  border: 2px solid #FC5100;
  border-radius: 10px;
}

.container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tracos{
  border: 2px solid darkblue;
  padding: 8px;
  font-size: 2rem;
  margin: 10px;
}

#letra{
  border: 3px solid red;
  border-radius: 4px;
  text-align: center;
  font-size: 1.5rem;
  width: 40px;
  height: 42px;
  margin: 10px;
}

.poste{
  position: relative;
}

#corpo{
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

#cabeca{
  font-size: 4.5rem;
  position: relative;
  bottom: 300px;
  left: 82px;
}

#tronco{
  position: relative;
  bottom: 305px;
  left: 82px;
}

#bracoEsq{
  position: relative;
  bottom: 393px;
  left: 50px;
}

#bracoDir{
  position: relative;
  bottom: 436px;
  left: 110px;
}

#pernaEsq{
  position: relative;
  bottom: 400px;
  left: 61px;
}

#pernaDir{
  position: relative;
  bottom: 455px;
  left: 105px;
}

.btn-comecar{
  font-weight: bold;
  width: 90px;
  height: 35px;
  background-color: darkorange;
  border-radius: 5px;
}

.btn-recomecar{
  width: 90px;
  height: 40px;
  background-color: lightblue;
  border-radius: 5px;
}