*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: Helvetica, arial, sans-serif;
 background-image: linear-gradient(#8AB8FB, #BBBCF8);
  background-repeat: no-repeat;
}

.tela-inicial{
  text-align: center;
  width: 80%;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 10%;
  background-image: radial-gradient(#F5FCA0, #e3fb6b);
  border-radius: 10px;
  box-shadow: 5px 10px 20px;
}

.idioma{
  margin-top: 10px;
  font-size: 1rem;
}

a{
  text-decoration: none;
}

.level-container{
  width: 200px;
}

.level{
  font-size: 1.1rem;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  height: 1.5rem;
}

.tela-final{
  width: 90%;
  height: 570px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 5%;
  background-image: radial-gradient(#F5FCA0, #f5e467);
  border-radius: 10px;
}

.palavra{
  font-size: 1.8rem;
}

.container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tracos{
  border: 2px solid darkblue;
  padding: 5px;
  font-size: 1.8rem;
  margin: 5px;
  background-color: #D7F7FF;
}

#letra{
  border: 3px solid red;
  border-radius: 4px;
  text-align: center;
  font-size: 1.5rem;
  width: 40px;
  height: 42px;
  margin: 10px;
}

.digitadas{
  width: 245px;
  height: 22px;
  padding-top: 2px;
  border: 1px solid darkgreen;
  background-color: #fff;
  text-align: center;
  font-size: 0.8rem;
}

.erros{
  margin-top: 5px;
}

.poste{
  position: relative;
}

.poste img{
  width: 160px;
}

#corpo{
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.partes img{
  width: 50%;
}

#cabeca{
  font-size: 2rem;
  position: relative;
  bottom: 132px;
  left: 36px;
}

#tronco{
  position: relative;
  bottom: 135px;
  left: 39px;
}

#bracoEsq{
  position: relative;
  bottom: 190px;
  left: 35px;
}

#bracoDir{
  position: relative;
  bottom: 213px;
  left: 65px;
}

#pernaEsq{
  position: relative;
  bottom: 185px;
  left: 35px;
}

#pernaDir{
  position: relative;
  bottom: 216px;
  left: 58px;
}

.btn-comecar{
  margin-top: 20px;
  font-weight: bold;
  width: 180px;
  height: 35px;
  background-color: darkorange;
  border-radius: 5px;
}

.btn-recomecar{
  font-weight: bold;
  font-size: 1.1rem;
  width: 110px;
  height: 48px;
  background-color: lightblue;
  border-radius: 5px;
}

.mensagem-final{
  font-weight: bold;
  font-size: 1.4rem;
}

.dica{
  padding: 5px;
  position: relative;
  bottom: 6px;
  right: 5px;
  display: none;
  font-weight: bold;
  border: 2px solid red;
  background-color: yellow;
}

.tecla{
  margin-left: 30px;
}

.rst-btn{
  margin-top: 25px;
  width: 65px;
  height: 28px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-image: radial-gradient(yellow,darkorange);
  box-shadow: 1px 1px 5px;
}