*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: Helvetica, arial, sans-serif;
 /* background-image: linear-gradient(#F9BB75, #FDC4A3);
  background-repeat: no-repeat; */
}

.container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tracos{
  font-size: 2rem;
  margin: 10px;
}

#letra{
  border: 3px solid red;
  border-radius: 4px;
  text-align: center;
  font-size: 1.5rem;
  width: 40px;
  height: 42px;
  margin: 10px;
}

#btnVerifica{
  font-size: 1.2rem;
  width: 50px;
  height: 30px;
}

#corpo{
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cabeca{
  font-size: 4.5rem;
}

#tronco{
  position: relative;
  bottom: 5px;
}

#bracoEsq{
  position: relative;
  bottom: 88px;
  right: 38px;
}

#bracoDir{
  position: relative;
  bottom: 130px;
  left: 38px;
}

#pernaEsq{
  position: relative;
  bottom: 94px;
  right: 23px;
}

#pernaDir{
  position: relative;
  bottom: 152px;
  left: 23px;
}